<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <ol>


        <!-- {% for good in cart %}
            <li><a href="{% url 'info' good.id %}">{{ good.goods_list.all }}</a></li>
        {% endfor %} -->



        {% for goods in cart %}
            <h3>{{goods.user}}'s cart:</h3>
            {% for good in goods.goods_list.all %}
                <form method='post' action="{% url 'remove_good' good.id %}">
                    {% csrf_token %}
                    <ul><a href="{% url 'info' good.id %}">{{ good.name }}: {{ good.id }}</a></ul>
                    <button type="submit">Remove from cart</button>
                </form>
            {% endfor %}
        {% endfor %}


    </ol>
</body>
</html>
